
*~
bin.v2/
bin/
doc/bin/
doc/html/
doc/convert_reference.xml
doc/doxygen/
doc/inspect.txt
convert.pdf
*.log
*.bat
include/boost/none.hpp
include/boost/none_t.hpp
include/boost/optional.hpp
include/boost/optional/

#################
## Eclipse
#################

.project
.settings/
.cproject
convert-test

Debug/
Release/
*.vcxproj*
*.sln
*.suo
*.sdf
*.opensdf
a.out




